streamlit
plotly

# --- Análise de Dados e Manipulação ---
pandas>=2.0.0
numpy>=1.24.0

# --- Visualização de Dados ---
matplotlib>=3.7.0
seaborn>=0.12.0

# --- Machine Learning e Estatística ---
scikit-learn>=1.2.0
joblib>=1.2.0

# --- Banco de Dados de Grafos (Neo4j) ---
neo4j>=5.0.0

# --- Utilitários e Geração de Dados ---
faker>=18.0.0

# --- Ambiente de Desenvolvimento ---
ipykernel
notebook
